analyst-tutor-agent.json
{
  "name": "analyst-tutor-agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{  \"query\": \"No query provided. Please provide a question to search the database.\"}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n---\n\n## 🧑‍🎓 **Analyst-Tutor Agent – User Prompt**\n```text\nThe student asked:\n{{ $json.query }}\n\n\n\nPlease do the following:\n\n1. Analyze the query to extract key informations related to the question.\n2. Use that information to generate a well-structured, easy-to-understand answer for the student.\n3. If the content is insufficient to fully answer, generate well structured answer and note source that clearly.\n\nRespond in the specified JSON format.\n",
        "options": {
          "systemMessage": "You are the Analyst-Tutor Agent in a multi-agent academic assistant system.\n\nYou have two jobs:\n1. ANALYZE: Read the text chunks retrieved from the student’s study materials and extract key information relevant to the student’s question.\n2. TUTOR: Use only that information to generate a clear, accurate, and educational answer.\n\nGuidelines:\n- Structure your answers for learning (e.g., step-by-step, examples, definitions, comparisons)\n\nOutput format:\n```json\n{\n  \"final_answer\": \"Your full answer here...\",\n  \"notes\": \"Optional: My sources.....\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        784,
        352
      ],
      "id": "183d32de-a3b3-4a21-8038-ef0b9ecffa95",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        576
      ],
      "id": "27be796d-58ba-45b3-8af0-f998e75ec7bd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FXXknlqzEWtpAmPQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        560
      ],
      "id": "4700f437-a2e4-4de8-a485-3818ca2fc4fd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0aa5b55d-a497-4f0f-96c1-e88d1604c37c",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "152cfc10-a67b-4759-9447-6a5898f59cd0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15fc6558-9b13-48aa-95cc-d250797fd2ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "287fa767a19331fafe6f7c177efa18a40926b8ca5790001323089bca68ea489e"
  },
  "id": "c0linde30O1pj7x6",
  "tags": []
}