library-agent.json
{
  "name": "library-agent",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1GOfdFO-pBsPZVSKNATXyD_lp-HhYCC_R",
            "mode": "list",
            "cachedResultName": "SE312",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1GOfdFO-pBsPZVSKNATXyD_lp-HhYCC_R"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        0
      ],
      "id": "d1ebed82-2ce0-4a79-8d2a-4e53fd11a103",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "02Zc6lbRU8KUtV74",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        0
      ],
      "id": "5dd9e270-7518-487d-a127-0656d9dd2eb8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "02Zc6lbRU8KUtV74",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "library-rag-db",
          "mode": "list",
          "cachedResultName": "library-rag-db"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ],
      "id": "d9cb79b1-b21f-48cc-a747-8615069244f6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ESEbIEtPyLlBHNyb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        176
      ],
      "id": "12578386-a811-40d6-ac5d-351c37e2c4fe",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "FXXknlqzEWtpAmPQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        176
      ],
      "id": "f362374d-529f-40df-ae5f-d0d617ea99db",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 768,
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        864,
        384
      ],
      "id": "0259c91d-d86d-4a76-ab06-e4a7670f19dc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GOfdFO-pBsPZVSKNATXyD_lp-HhYCC_R",
          "mode": "list",
          "cachedResultName": "SE312",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GOfdFO-pBsPZVSKNATXyD_lp-HhYCC_R"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "5cafbb0b-aae1-496b-92bb-e32683a84d3d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "02Zc6lbRU8KUtV74",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5acdb0fa-3ffe-4f8b-ac55-a78154c027ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "287fa767a19331fafe6f7c177efa18a40926b8ca5790001323089bca68ea489e"
  },
  "id": "TzSLlV2DXhM0R1Ou",
  "tags": []
}