stuidy-buddy-main-agent.json
{
  "name": "stuidy-buddy-main-agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c01adf2a-2a71-43f1-89c3-e8c2d235c89a",
      "name": "When chat message received",
      "webhookId": "ffbb4471-6862-4df9-814b-ec7031198d75"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The student has asked:\n{{ $json.chatInput }}\n\n\nStep 1: Call the Retriever Agent to gather relevant content from the student’s knowledge base.\n\nStep 2: call the analyst-tutor agent to get answer\n\nStep 3: Cross check both and return a structured anser to the student\n\nStep 4: Ask if they want other information regarding that topic\n\nStep 5: If YES, provide with the analyst-tutor agent response \n\nStep 6: ASk if they need any further assistance\n\nDo not include internal logs or system messages. Only return the final educational response.\n ",
        "options": {
          "systemMessage": "=You are the Study Buddy — the central agent in a multi-agent academic assistant system.\n\nYour job is to:\n- Receive the student’s question\n- Call the Retriever Agent to get relevant information from the student’s study materials\n- Call the Analyst-Tutor Agent to process and explain that question \n- Return a clear, accurate, and educational answer on basis of both of them\n\nYou do not retrieve or analyze information yourself — instead, you delegate those tasks and coordinate the response.\n\nThe final answer should:\n- Be factual and based only on the student’s study materials\n- Be well-structured and easy to understand\n- Address the student’s exact question, with helpful structure (e.g., definitions, examples, steps)\n\nAlways tell the source like was it from the given materials or from the llm\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "c09532bf-8fb7-4e69-9d01-074bacb622a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "3128ace4-58b1-46c6-bc9a-9661ca4eb91f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FXXknlqzEWtpAmPQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "It will call on the retrieval agent",
        "workflowId": {
          "__rl": true,
          "value": "0kgIqp3dEY6vaIxw",
          "mode": "list",
          "cachedResultName": "retrieval-agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        656,
        192
      ],
      "id": "a813cf06-ae19-487b-b20f-2026f7f96835",
      "name": "retrieval agent"
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "4e21c49a-51c9-4200-b96b-718fee20848d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "DVr6SCNZJ51ySG4j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call for analysis and tutor like answers",
        "workflowId": {
          "__rl": true,
          "value": "c0linde30O1pj7x6",
          "mode": "list",
          "cachedResultName": "analyst-tutor-agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "retrieved_chunks",
              "displayName": "retrieved_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        224
      ],
      "id": "af99ee4a-f9e8-4c91-89ac-f585ddc49146",
      "name": "Call analyst-tutor agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "retrieval agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call analyst-tutor agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f4fc1ec-5afc-48a4-8cd6-27c50e51fcb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "287fa767a19331fafe6f7c177efa18a40926b8ca5790001323089bca68ea489e"
  },
  "id": "9BlbAdNtYo60cfeB",
  "tags": []
}