workflows/analyst-test-agent.json
{
  "name": "analyst-test-agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{  \"query\": \"No query provided. Please provide a question to search the database.\"}"
      },
      "id": "ef6e114e-eef9-4656-b84a-c6caf8c4f764",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "524f758c-f289-4701-80f5-d88e8c5dcc75",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FtDu2VrhmULoSMN3",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        520,
        220
      ],
      "id": "13adf002-2691-45a0-a94a-d220140f3e1e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0aa5b55d-a497-4f0f-96c1-e88d1604c37c",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "c2d050d5-515c-4af0-8511-217cf99b8117",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n---\n\n## 🧑‍🎓 **Analyst-Tutor Agent – User Prompt**\n```text\nThe student asked:\n{{ $json.query }}\n\n\n\nPlease do the following:\n\n1. Analyze the query to extract key informations related to the question.\n2. Use that information to generate a well-structured, easy-to-understand answer for the student.\n3. If the content is insufficient to fully answer, generate well structured answer and note source that clearly.\n\nRespond in the specified JSON format.\n",
        "options": {
          "systemMessage": "You are the Analyst-Tutor Agent in a multi-agent academic assistant system.\n\nYou have two jobs:\n1. ANALYZE: Read the text chunks retrieved from the student’s study materials and extract key information relevant to the student’s question.\n2. TUTOR: Use only that information to generate a clear, accurate, and educational answer.\n\nGuidelines:\n- Structure your answers for learning (e.g., step-by-step, examples, definitions, comparisons)\n\nOutput format:\n```json\n{\n  \"final_answer\": \"Your full answer here...\",\n  \"notes\": \"Optional: My sources.....\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "id": "e7c80347-787d-44f3-8417-9be842e95c9b",
      "name": "AI Agent"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "No query provided. Please provide a question to search the database."
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2aabeb26-2c37-43bd-b321-8920f35216ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47602d97fabdb2b1a408047f14a349737380c49fbf81b41a1e12433e4923c3e1"
  },
  "id": "4rZ4lGNGrWIOfRGT",
  "tags": []
}