workflows/study_buddy.json
{
  "name": "study_buddy",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        200
      ],
      "id": "a196573d-e5e5-40f1-a77c-327314b0372d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WiKNGh5wBnjk1nNS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "It will call on the retrieval agent",
        "workflowId": {
          "__rl": true,
          "value": "rhpsI2Cq7RXyKuKP",
          "mode": "list",
          "cachedResultName": "Mhtasnia — retrieval-agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        280
      ],
      "id": "c27549bf-d6c3-44ac-bd9b-e1481758fb7f",
      "name": "retrieval agent"
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        880,
        240
      ],
      "id": "53fcaaef-7677-419b-8c8e-9b39866d9037",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "OoMHDVe2k3fHCl3o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call for analysis and tutor like answers",
        "workflowId": {
          "__rl": true,
          "value": "4rZ4lGNGrWIOfRGT",
          "mode": "list",
          "cachedResultName": "Mhtasnia — analyst-test-agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        280
      ],
      "id": "a9b43727-fd2d-468e-be5e-71fc26c70b9a",
      "name": "Call analyst-tutor agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Start by asking the user what they want to know about?\nThe student has asked:\n{{ $json.chatInput }}\nYou are a master agent who has access to 2 agents \n- retrieval agent : Retrieves information from the given course metarial\n- analyst-tutor-agent : can do extensive search on that topic\n\n\nYou can use any agent you want in any order but use them both to generate the anser and alwayys ask if they want to know more about {{ $json.chatInput }} and based on the response act accordingly",
        "options": {
          "systemMessage": "You are the Study Buddy — the central agent in a multi-agent academic assistant system.\n\nYour job is to:\n- Receive the student’s question\n- Call the agents as you need\n- Return a clear, accurate, and educational answer on basis of both of them\n\nYou do not retrieve or analyze information yourself — instead, you delegate those tasks and coordinate the response.\n\nThe final answer should:\n- Be factual and based only on the student’s study materials\n- Be well-structured and easy to understand\n- Address the student’s exact question, with helpful structure (e.g., definitions, examples, steps)\n\nAlways tell the source like was it from the given materials or from the llm\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "0aab3e2b-e442-4dcd-8f36-5f1ed6fc5dd3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "id": "77db0207-9fc5-47a4-8eea-872f26fc0f36",
      "name": "When chat message received",
      "webhookId": "f142d5a9-a936-439a-b940-c62ec5976d00"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5e65143c-2f26-4751-ba59-00985e7cfaef",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        220
      ],
      "id": "be980cfb-c952-4443-8a30-b703a0716616",
      "name": "Webhook",
      "webhookId": "5e65143c-2f26-4751-ba59-00985e7cfaef"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "512ce892-e313-4acd-8f80-0d5c687ef609",
              "name": "query",
              "value": "={{ $json.chatInput || $json.body.chatInput}}",
              "type": "string"
            },
            {
              "id": "e4bab1a8-d157-4e13-9db3-d4d0df9864b5",
              "name": "sessionId",
              "value": "={{ $json.sessionId || $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "f5bfe426-a30f-4665-83e1-91b798da8c80",
              "name": "action",
              "value": "={{ $json.action ||  $json.body.action}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        0
      ],
      "id": "5394f03a-ee74-4dc4-b121-35d482eff10d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1240,
        -20
      ],
      "id": "f40a8038-4686-4a4a-b61f-438ed6086475",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call analyst-tutor agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "retrieval agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6274ffa-ab8a-41e0-901d-748cb2863aee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47602d97fabdb2b1a408047f14a349737380c49fbf81b41a1e12433e4923c3e1"
  },
  "id": "NjegKvz6Wt6nywsH",
  "tags": []
}